:root {
      --secondary-color: rgb(30, 60, 60);
      --background-color: rgb(60, 120, 120);
}

body {
    background-color: var(--background-color);
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

article {
    margin: 12px auto;
}

.main_header {
    background-color: var(--secondary-color);
    height: 54px;
    padding: 16px 24px;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoutButton {
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}

.container {
    margin: 0 auto;
}


.buttons {
    border-color: white;
    border-width: 4px;
    border-radius: 24px;
    background: none;
    color: white;
}

button:hover {
    border-color: rgb(50, 150, 100);
}


.centerDiv {
    display: block;
    margin: 0, auto;
}

#modeButton {
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}

h1 {
    color: rgb(255, 255, 255);
}

