:root {
    --secondary-color:  rgb(30, 60, 60);
    --background-color: rgb(60, 120, 120);
    --correct-color:    #00FF00;
    --wrong-color:      #FF0000;
}

body {
    background-color: var(--background-color);
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

article {
    margin: 12px auto;
    margin-bottom: 2vh;
}

.main_header {
    background-color: var(--secondary-color);
    height: 54px;
    padding: 16px 24px;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoutButton {
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    border-radius: 2em;
    border-color: var(--secondary-color);
    border-style: solid;
    height: 80vh;
    overflow: hidden;
}

 /* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;   
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: var(--secondary-color);
/*     ! outline: none; */
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.activeTab {
    background-color: var(--secondary-color);
    color: white;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-style: solid;
} 

.tablinks {
    display: inline-block;
    width: 50%;
    font-size: large;
}

.buttons {
    border-color: white;
    border-width: 4px;
    border-radius: 24px;
    background: none;
    color: white;
}

button:hover {
    border-color: rgb(50, 150, 100);
}


.centerDiv {
    display: block;
    margin: 0, auto;
}

h1 {
    color: white;
}

#addDiv {
    background-color: var(--secondary-color);
    width: 16em;
    margin: auto;
    margin-top: 4em;
    padding: 2em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px;
}

#addContactButton {
    width: 95%;
    display: block;
    margin: auto;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
}

.register_field {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    height: 2em;
    border-radius: 1em;
    padding: 1em;
    border-color: var(--correct-color);
    border-width: 2px;
}

#contactsDiv {
    padding: 2em;
}

#seachDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.contact_inputs {
    border-radius: 1em;
    padding: 0.5em;
}

#searchText {
    width: 30em;
    margin-right: 1em;
}

#searchButton {
    width: 10em;
}

.edit_buttons {
    padding: 0.5em;
    border-radius: 1em;
}

.edit_buttons.left_button {
    margin-right: 0.5em;
}

tr {
    height: 2em;
}

thead {
    background: var(--secondary-color);
    text-align: left;
    color: white;
}

tbody {
    background: rgba(255, 255, 255, 0.5);
}

th {
    padding: 1em 0.5em;
}

td {
    padding: 0.5em 0.5em;
}

table td input {
    display: block;
    width: 90%;
}