/* page title font and color set*/
h1 {
  color: black;
  border: gray;

}

.intro {

  border-radius: 10px;
  border-bottom: 2px solid white;
  max-width: fit-content;
  margin: auto;

}

.switch1 {

  display: none;
}

.switch2 {
  display: inline;
}

.hid {

  font-size: 1px;
}
   
/* sets form title color*/
.titleForm{
  color: black;
  margin: 3px;
}

/* set background imgs */
body {

  text-align: left;
  font-family: 'Garamond', serif; 

  background-image: url("../images/LoginBG.png"), url("../images/Vaca.png"), url("../images/Work.jpeg"),
  linear-gradient(to right, rgb(30 75 115 / 100%), rgb(58, 167, 112));
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: 23%, 50%, 51%, 100%;  /*Resizes the image to cover the entire container */
  background-position: right center, right center, left center, right; /* centers background */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */

}

/* base login/register button hue*/
button {
  background-color: black;
  color: white;
  font-size: 25px;
  border-radius: 35%; /*rounds the edges of border*/
  border: 5px solid black;
  margin-right: 20px;
}

/* set the login/register buttons to the center*/
.button_Position {
  margin-left: 580px;
  padding: 5px;
}

/* add a color change when hovering over button*/
.button1:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

/*base lavel color as black*/
label {
  color: black;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  top: 30px;
  left: 525px;
  max-width: 300px;
  overflow: auto;
  border: 3px solid #f1f1f1;
  border-radius: 50px;

}

/* Add styles to the form container by adding padding */
.form-container {
  max-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 1px;
  background-color: gray;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: darkgreen;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* adds in a line for login error*/
#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}